<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">
    <meta name="msapplication-navbutton-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff">
    <meta property="og:title" content="Attendance System" />
    <meta property="og:url" content="https://pavankumarcea.pythonanywhere.com/" />
    <meta property="og:image" content="{{ url_for('static', filename='assets/images/logo/attendance-system-sm.jpg') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/logo/attendance-system-sm.jpg') }}" />
    <title>Teacher - {% block title %}<!--title block-->{% endblock title %}</title>
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Noto+Sans:wght@700&family=Open+Sans:wght@800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <div>
                <img class="figure" src="{{ url_for('static', filename='assets/images/logo/attendance-system-high-resolution-logo-transparent.png') }}" alt="Attendance System logo" title="logo" />
            </div>
            <div class="addbtn">
               <a href="{{ url_for('contact') }}">contact us</a>
            </div>
        </header>
        <nav>
            <ul>
                <li class="hideOnMobile"><a href="/">Dashboard</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('view_users') }}">View Users</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('manage_classes',role='teacher') }}">Manage Classes</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('maintenance') }}">Take Attendance</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('maintenance') }}">View Attendance</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('profile', role='teacher') }}">Edit Proflie</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('logout') }}" class="logout">Logout</a></li>
                <li class="mobile-logo"><img class="figure" src="{{ url_for('static', filename='assets/images/logo/attendance-system-high-resolution-logo-transparent.png') }}" alt="logo" title="logo" /></li>
                <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li><a href="/">Dashboard</a></li>
                <li><a href="{{ url_for('view_users') }}">View Users</a></li>
                <li><a href="{{ url_for('manage_classes',role='teacher') }}">Manage Classes</a></li>
                <li><a href="{{ url_for('maintenance') }}">Take Attendance</a></li>
                <li><a href="{{ url_for('maintenance') }}">View Attendance</a></li>
                <li><a href="{{ url_for('profile', role='teacher') }}">Edit Proflie</a></li>
                <li><a href="{{ url_for('logout') }}" class="logout">Logout</a></li>
            </ul>
        </nav>

{% block body %}
<!--body block-->
{% endblock body %}

        <footer>
            {% block footer %}
            <div id="footm">
            <ul>
                <li><a href="{{ url_for('maintenance') }}">About Us</a></li>
                <li><a href="{{ url_for('maintenance') }}">Privacy policy</a></li>
                <li><a href="{{ url_for('maintenance') }}">Terms & conditions</a></li>
                <li><a href="{{ url_for('maintenance') }}">Disclimar</a></li>
            </ul>
            </div>
            
            <div class="footcopy"><hr/><br/><strong>Copyright 2025 Attendance System - All rights reserved.Developed by R.Pavan Kumar,M.Raju</strong></div>
            {% endblock footer %}
        </footer>
    </div>


    <script>
        function showSidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
        }
        function hideSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none';
        }
    </script>    
<script type="text/javascript" src="{{ url_for('static', filename='assets/javascript/script.js') }}"></script> 

</body>

</html>