{% extends 'base/base.html' %}
{% block title %} Classes{% endblock title %} 
{% block body %}

<main>
    <h1>Today Classes</h1><br/>
    <div style="overflow-x: scroll;">
<table>
<tr>
<th>Branch</th>
<th>Subject</th>
<th>Start Time</th>
<th>End Time</th>
<th>Attendece</th>
</tr>
<tr>
<td><b>MCA</b></td>
<td>WT</td>
<td>09:00 am</td>
<td>09:50 am</td>
<td><a href="login" class="button">Status</a></td>
</tr>
</table>
</div>
<div>
    <img class="gif" src="https://media.tenor.com/PQGGoLePq94AAAAi/im-so-tired-stuart.gif" alt="hi-hello" title="gif"/>
</div>


</main>

{% endblock body %}