<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maintenance</title>
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" type="text/css"/>
</head>  
<body>
<main>
  <img src="https://media.tenor.com/1sOTtMr4S9oAAAAj/stomping-foot-stuart-the-minion.gif" alt="Under maintenance or construction" title="gif" width="256" height="256"><br/>
  <h1>This page is Under maintenance or construction!</h1><br/>
  <p>Please go back the home page by Click <a href="/" class="button">Home</a></p><br/>
  <img src="https://media.tenor.com/EKHAmIdIzAcAAAAj/robot-malfunction.gif" alt="Under maintenance or construction" title="gif" width="256" height="256">
</main>
</body>
</html>