<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maintenance</title>
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" type="text/css"/>
</head>  
<body>
<main>
  <img src="{{ url_for('static', filename='assets/images/icons/website_maintenance.png') }}" alt="Under maintenance or construction" width="256" height="256">
  <h1>This page is Under maintenance or construction!</h1>
  <p>Please go back the home page by Click <a href="/" class="button">Home</a></p>
</main>
</body>
</html>