{% extends 'base.html' %}
{% block title %} Login{% endblock title %} 
{% block body %}

<main>
  <h1>Login</h1>
  <div>
    <form id="auth-form" action="{{ url_for('login') }}" method="post">
      <label for="text">ID Number:</label>
      <input type="text" placeholder="idno" autocomplete="off">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Password" autocomplete="off">
      <input type="submit" value="Login">
      <p>Don't have an account? <a href="register">Register</a></p>
    </form>
  </div>
</main>

{% endblock body %}
