{% extends 'base/base.html' %}
{% block title %} Login{% endblock title %}
{% block body %}

<main>
  <h1>Login</h1>

  <!-- Display Error Message if it exists -->
  {% if error %}
    <div class="error-message">
      <img class="gif" src="https://media.tenor.com/ND7gVsruMjMAAAAi/startled-stuart-the-minion.gif" alt="error-message" title="gif"/>
    {{ error }}
    </div>
  {% endif %}
  <!-- login form -->
  <form id="auth-login" action="{{ url_for('login') }}" method="post">
    <label for="userid">ID Number:</label>
    <input type="text" name="userid" placeholder="ID Number" autocomplete="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password" autocomplete="current-password" required>

    <input type="submit" value="Login">

    <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
  </form>
</main>

{% endblock body %}
