{% extends 'base.html' %}
{% block title %} Register {% endblock title %} 
{% block body %}

<main>
    <h1>Register</h1>

    <!-- Display Error Message if it exists -->
    {% if error %}
        <div class="error-message">
            <img class="gif" src="https://media.tenor.com/ND7gVsruMjMAAAAi/startled-stuart-the-minion.gif" alt="error-message" title="gif"/>
    {{ error }}
        </div>
    {% endif %}
    <!-- Register Form -->
    <form id="auth-form" action="{{ url_for('register') }}" method="post">
        <!--<p>Role:</p><br/>
        <input type="radio" id="teacher" name="role" value="teacher" autocomplete="name"> Teacher
        <input type="radio" id="student" name="role" value="student" autocomplete="name" > Student<br/><br/>-->
        <label for="username">Name:</label>
        <input type="text" id="username" name="username" placeholder="Name" autocomplete="name" required>
        
        <label for="userid">ID Number:</label>
        <input type="text" id="userid" name="userid" placeholder="ID Number" autocomplete="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password" autocomplete="new-password" required>
        
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password" autocomplete="new-password" required>

        <input type="submit" value="Register">
    </form>
</main>
{% endblock body %}
